<!DOCTYPE html>
<html>
	<head>
		<title>Log Analysis Project</title>
	</head>

	<body>
		<form>
			1. What are the most popular three articles of all time?
			<br>
    		<p> {{ popular_articles }} </p> <!--change to display the result of the coorespoding query-->
    		<br>
    		2. Who are the most popular article authors of all time?
    		<br>
    		<p> {{ popular_authors }} </p> <!--change to display the result of the coorespoding query-->
    		<br>
    		3. On which days did more than 1% of requests lead to errors?
    		<br>
    		<p> {{ high_errors }} </p> <!--change to display the result of the coorespoding query-->
		</form>
	</body>
</html>